@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: #ffefc0;
        --background-start-rgb: #1b486b;
        --background-end-rgb: #1b486b;
        --tertiary: #eb8e69;
    }
}

body {
    color: var(--foreground-rgb);
    background: linear-gradient(
            to bottom,
            transparent,
            var(--background-end-rgb)
        )
        var(--background-start-rgb);
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.25rem;
}

ul li,
ol li {
    margin: 8px;
}

.chips {
    background-color: var(--foreground-rgb);
    border-radius: 8px;
    color: var(--background-start-rgb);
    font-weight: 600;
    padding: 4px 8px;
}

.nav-bar-item {
    font-weight: 600;
    font-size: 16px;
    padding: 8px 12px;
    border: 2px solid var(--foreground-rgb);
    border-radius: 8px;
    cursor: pointer;
    transition: all 250ms ease;
}

.nav-bar-item:hover {
    border-color: var(--tertiary);
    color: var(--tertiary);
}

form input,
form textarea,
form button {
    background-color: transparent;
    border: 1px solid var(--tertiary);
    border-radius: 8px;
}
